.aboutus-container {
    position: absolute;
    z-index: 2;
    top: 155px;
    left: 145px;
}

.aboutus {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: white;
    width: 500px;
}

.aboutus > p {
    font-weight: 200;
}

.cssbuttons-io-button {
    background: #86469C;
    width: 220px;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    margin-top: 14px;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #86469C;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #86469C;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  

  .promo {
    width: fit-content;
    font-size: 12px;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 15px;
    padding: 7px 20px 7px 0;
    margin-bottom: 20px;
    color: white;
}

.promo span:first-child {
    background-color: #D9176D;
    border-radius: 15px;
    padding: 7px 14px;
    margin-right: 10px;
}