.profile-container {
  height: 100vh;
  display: flex;
}

.profile-content {
  flex: 1;
  padding: 1rem;
}

.update-form {
  display: flex;
}

#root > div > div > div.profile-content > div > div.ant-table-wrapper.css-dev-only-do-not-override-1t8vkpl > div > div > ul{
  display: none;
}