.promo {
    width: fit-content;
    font-size: 12px;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 15px;
    padding: 7px 20px 7px 0;
    margin-bottom: 20px;
    color: white;
}

.promo span:first-child {
    background-color: #D9176D;
    border-radius: 15px;
    padding: 7px 14px;
    margin-right: 10px;
}